BASE_URL=
PORT=
FRONTEND_REDIRECT_URL=
#FRONTEND_REDIRECT_URL=
client_id=
client_secret=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
WITAI_TOKEN=
GEMINI_API_KEY=

# SQL Server Configuration (Go - Armenia)
DB_HOSTNAME_GO=localhost
MSSQL_PORT=1433
DB_DATABASE_GO=tu_base_datos_go
DB_USERNAME_GO=sa
DB_PASSWORD_GO=tu_contrasena_segura
